.best {
  background-image: url('../img/bg/best-bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__title--best {
  color: #2f3234;
  padding-top:20px;
  margin-bottom: rem(70px);
}

.container{
  align-self: flex-start;
}

.why_best {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}


.reasons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 33%;
}

.motto{
  width: 164px;
  height: 27px;
  color: #2f3234;
  font-family: Lifehack;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin-bottom: rem(40px);
}

.details{
  width: 281px;
  height: 38px;
  opacity: 0.8;
  color: #2f3234;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
  text-align-last: center;
}

.best_img {
 /* max-width: 97px;
  max-height: 89px;
  overflow: hidden;*/
}

