


.hamburger-menu {
	display: none;
  	@include tablets {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#2f3234, .99);
	align-items: center;
	justify-content: center;
  }
}

.hamburger-menu__logo {
	@include tablets {
	position: absolute;
	top: rem(10px);
	left: rem(30px);
	}
}

.hamburger-menu__close {
	@include tablets {
	position: absolute;
	right: rem(15px);
	top: rem(15px);
	width: rem(18px);
	height: rem(18px);
	padding: rem(15px);
	box-sizing: content-box;

	&:hover {
		.hamburger-menu__close-icon {
			use {
				fill: #fff;
			}
		}
	}
	}
}

.hamburger-menu__close-icon {
	@include tablets {
	width: 100%;
	height: 100%;

	use {
		fill: #c1c2c2;
		transition: fill .3s;
	}
	}
}

.nav__list-hamburger{
	@include tablets {
	position: absolute;	
	width: 100%;
	top: rem(200px);
	text-align: center;
	}
}

.nav__item-hamburger {
	@include tablets {
  vertical-align: middle;
  &:after {
    display: block;
	vertical-align: middle;	
    content: ' ';
    @include circle(7px, #fff);
    margin: 3% 50%;
  }
  &:last-child:after {
    display: none;
  }
	}
}

.nav__link-hamburger{
	@include tablets {
	font-size: rem(24px);
  font-weight: 400;
  line-height: rem(40px);
	}
}
