.hero {
  background-image: url('../img/bg/hero_bg.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(10px);
}

.header__logo {
  margin-right: auto;
}

.logo{
  display: inline-block;
}

.header__menu{
    @include tablets(){
    display: none;
  }
}

.nav {
  margin-right: rem(15px);
}

.nav__list {
  margin: 0;
  padding: 0;
}

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  &:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    @include circle(5px, #fff);
    margin: 0 rem(12px);
  }
  &:last-child:after {
    display: none;
  }
}

.nav__link {
  color: #ffffff;
  font-size: rem(13px);
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transition: .5s;
  &:hover {
    text-decoration: underline;
  }
}

.header__btn{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.hamburger-menu-link{
  vertical-align: middle;
  position: relative;
  height: rem(22px);
  align-items: center;
  margin-left: rem(30px);
  display: none;

  @include tablets(){
    display: flex;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  flex:1;
  justify-content: center;
  padding-bottom: 15%;
  
}

.hero__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 15%;
  @include tablets() {    
    flex-direction: column;
    align-items: center;
    padding: 0 20%;
  }
}

.hero__left, .hero__right {
  flex-basis: 50%;
}



.hero__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: rem(50px);
   @include tablets() {
    padding-top: 0;
  }
}

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: rem(72px);
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  @include tablets() {
    font-size: rem(52px);
    text-align: center;
}
}

.hero__right-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: rem(65px);
  font-weight: 500;
  line-height: 1;
  margin-bottom: rem(0px);
  margin-top: rem(10px);
    @include tablets() {
    margin-bottom: rem(10px);
    margin-top: rem(0px);
    font-size: rem(45px);
    text-align: center;
  }
}

.arrow-scroll {
  display: flex;
  justify-content: center;
  margin-bottom: rem(10px);
}

