.order {
  background-image: url('../img/bg/bg_order.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  display: flex;
  align-items: center;
}


.order__form{
    display: flex;
    margin-left: -5%;
 //   flex-direction: row;
//    justify-content: space-between;
 //   align-items: center;
 //   max-width: rem(940px);
//    width: 100%;
        @include tablets() {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
}


.order__form_col{
    width: 45%;
    margin-left: 5%;
//    display: flex;
//    flex-direction: column;
//    flex-basis: 50%;
//    align-self: flex-start;
        @include tablets {
        width: 100%;
        margin-left: 0;
    }
}

.form__row {
  display: flex;
  margin-bottom: rem(20px);
    &.textarea{
    margin-bottom: rem(0px); 
    }
}

.order__form-block{
    display: block;
    width: 100%;
    margin-left: rem(10px);;
    flex:1;
}

.show_error{
  border: rem(10px) solid red;
}

.order__form-block-label{
    
    color: #ffffff;
    font-family: Ubuntu;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    margin-bottom: rem(10px);

}

.order__form-input {
  font-size: rem(16px);
  padding: rem(14px);
  padding: rem(5px) rem(10px);
  background: #fff;
  border-radius: rem(7px);
  border: rem(1px) solid #d1cfcb;
    width:100%;
}

.order__form-textarea{
  height: rem(110px);
  resize: none;
}


.order__radio {
  position: relative;
  white-space: nowrap;
  margin-right: rem(20px);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.order__radio-elem {
  position: absolute;
  top: 0;
  left: rem(-9999px);
}

.order__radio-fake {
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  background: #fff;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: rem(0px);
    height: rem(0px);
    border-radius: 50%;
    background: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
  }
}

.order__radio-elem:checked {
  &+.order__radio-fake {
    &:after {
      content: "";
      width: rem(8px);
      height: rem(8px);
    }
  }
}

.order__radio-title {
  font-size: rem(14px);
  color: #fff;
  margin-left: rem(10px);
}

.order__radio_checkbox {
  .order__radio-fake {
    border-radius: rem(0px);
  }
  .order__radio-elem {
    &+.order__radio-fake {
      &:after {
        background: transparent;
      }
    }
  }
  .order__radio-elem:checked {
    &+.order__radio-fake {
      &:after {
        background: url("../img/content/checked.png") 50% no-repeat transparent;
        background-size: contain;
        width: rem(11px);
        height: rem(9px);
      }
    }
  }
}

.order__form-button {
  

  margin-right: rem(20px);
  border: 0;
  background: red;
  font-size: rem(13px);
  text-transform: uppercase;
  border-radius: rem(5px);
  color: #ffffff;
  @include ubuntu(middle);
  padding: rem(10px) rem(15px);
  cursor: pointer;
}

.order__form-button_reset {
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent;
}


