#myFooter {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #342626;
    color: white;
    padding-top: rem(10px);
  //  padding-bottom: rem(30px);
}


#myFooter .row {
    margin: 0px;
    margin-bottom: rem(15px);
    margin-left: rem(30px);
    
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
 //   font-family: Roboto;
    font-size: rem(25px);
    font-weight: 700;
    line-height: rem(25px);
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    margin-top: rem(20px);
}

#myFooter p {
    color: #fffefe;
//    font-family: Roboto;
    font-size: rem(15px);
    font-weight: 100;
    line-height: rem(25px);
}



#myFooter a {
    color: #ffffff;
    text-decoration: none;
//    font-family: Roboto;
    font-size: rem(20px);
    font-weight: 300;
    line-height: rem(35px);
    &.green_line {    
    color: #d1e245;
    }
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: left;
    padding-top: rem(25px);
    padding-bottom: rem(30px);
}

#myFooter .social-networks a {
    font-size: rem(25px);
    color: #f9f9f9;
    padding: rem(10px);
    transition: 0.2s;
    &:first-child {
    padding-left: 0px;   
    }
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .linkedin:hover {
    color: #0077B5;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}


@media (min-width: 768px){
    .container {
        width: 100%;
        /* width: 750px; */
    }
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

@media (min-width: 768px){
    .col-sm-2 {
        width: 20%;
    }
}

@media (min-width: 768px){
    .col-sm-3 {
        width: 25%;
    }
}


/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */


/*
html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}*/

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}