.best {
  background-image: url('../img/bg/best-bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__title--best {
  color: #2f3234;
  padding-top:rem(20px);
  margin-bottom: rem(70px);
  @include phones{
  margin-bottom: rem(30px);
  }
}

.container{
  align-self: flex-start;
}

.why_best {
 // width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  @include phones{
    flex-direction: column;
  }
}


.reasons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-basis: 33%;
  height:100%;
  padding: 5%;
   @include phones{
    flex-direction: row;
    justify-content: space-between;
  }
}

.best_description{
  @include phones{
  margin-left: 10%;
  }
}

.motto{
  color: #2f3234;
  font-family: Lifehack;
  font-size: rem(24px);
  font-weight: 500;
  line-height: rem(28px);
  text-align: center;
  padding-top: rem(10px);
  margin-bottom: rem(40px);
  @include phones{
    margin-bottom: rem(10px);
    text-align: left;
  }
}

.details{
  opacity: 0.8;
  color: #2f3234;
  font-family: Ubuntu;
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);  
  text-align: justify;
  text-align-last: center;
  padding-top: rem(10px);
  @include phones{
    margin-bottom: rem(10px);
    text-align: left;
    text-align-last: left;
  }
}

