.team {
  background-image: url("../img/bg/sbs-1255-x2.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.team-info {
  background-image: url("../img/bg/rectangle-1.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: block;
  right: 560px;
  top: 0px;
  width: 540px;
  height: 650px;
  position: absolute; }
